<!doctype html>

<html lang="en">

<head>
    <title><%=title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel='stylesheet' href='/stylesheets/vuetify.min.css' />
    <link  rel="stylesheet" href='/stylesheets/materialdesignicons.min.css'>
</head>

<body>

    <div id="login-app"> 
        
        
    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script type="module" src="../app/login.js"></script>
</body>

</html>